/* -------  General Styles ------- */
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
  display: block;
}

fieldset {
  border: 0;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.item img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}

.item img:hover {
  width: 100%;
  transform: scale(1.01);
  transition: 0.1s all ease-in-out;
}

.img-box{
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px;
}


/* ---  Groups & Items --- */
form .group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form .item {
  display: flex;
  /* move label beside field */
  flex-direction: row;
  /* label and item move to opposite sides of box */
  justify-content: space-between;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: center;
}
header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  margin-right: 5px;
}

form select,
form input {
  margin-bottom: 10px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/* All Desktop */

@media all and (min-width: 480px) {

  header h1 {
    font-size: 48;
    padding-top: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
  }

  .group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    flex-direction: column;
  }
  
  .about .group {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about .item {
    min-width: 100px;
  }

  /* Form */

  form {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  form .group {
    flex-direction: row;
    justify-content: space-between;
  }

  form .item {
    /* Move label above field */
    flex-direction: column;
  }

}

/* Narrow Desktop */
@media all and (min-width: 480px) and (max-width: 675px) {
  
  .break {
    visibility: visible;
    flex-grow: 1;
    flex-basis: 100%;
  }

  header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  form .group {
    flex-direction: row;
  }

  .about {
    flex-direction: row;
  }

  .inner-group {
    display: flex;
    flex-direction: column;
  }
}
